body {
    background-color: lightgray;
}

h1 {
    color: blue;
    display: block;
    width: 250;
    height:250;
    margin: 0 auto;
}

.hide {
    visibility: hidden; /*not display, space*/
}

.remove {
    display: none; /*completely removed*/
}

#roll {
    display: block;
    width: 50;
    height: 25;
    margin: 0 auto;
}